<a href="https://colab.research.google.com/github/Kedar43/ML-projects/blob/main/Loan_status_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('/content/train_u6lujuX_CVtuZ9i .csv')
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [3]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
loan_dataset = data.dropna()
loan_dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [5]:
loan_dataset['Dependents'].value_counts()

0     274
2      85
1      80
3+     41
Name: Dependents, dtype: int64

In [6]:
loan_data = loan_dataset.replace({'Dependents': {'3+': 4}})
loan_data['Dependents'].value_counts()

0    274
2     85
1     80
4     41
Name: Dependents, dtype: int64

In [7]:
print(loan_data['Property_Area'])

1          Rural
2          Urban
3          Urban
4          Urban
5          Urban
         ...
609        Rural
610        Rural
611        Urban
612        Urban
613    Semiurban
Name: Property_Area, Length: 480, dtype: object

In [8]:
loan_data.replace({'Gender': {'Male': 1, 'Female': 0}, 'Married': {'Yes': 1, 'No': 0}, 'Education': {'Graduate': 1, 'Not Graduate': 0}, 'Self_Employed': {'Yes': 1, 'No': 0}, 'Property_Area': {'Rural': 0, 'Semiurban': 1, 'Urban': 2}, 'Loan_Status': {'Y': 1, 'N': 0}}, inplace = True)
loan_data.head()

    Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
1  LP001003       1        1  ...            1.0              0            0
2  LP001005       1        1  ...            1.0              2            1
3  LP001006       1        1  ...            1.0              2            1
4  LP001008       1        0  ...            1.0              2            1
5  LP001011       1        1  ...            1.0              2            1

[5 rows x 13 columns]

In [9]:
x = loan_data.drop(columns = ['Loan_ID', 'Loan_Status'], axis = 1)
y = loan_data['Loan_Status']
print(x)
print()
print('---------')
print()
print(y)

     Gender  Married  ... Credit_History  Property_Area
1         1        1  ...            1.0              0
2         1        1  ...            1.0              2
3         1        1  ...            1.0              2
4         1        0  ...            1.0              2
5         1        1  ...            1.0              2
..      ...      ...  ...            ...            ...
609       0        0  ...            1.0              0
610       1        1  ...            1.0              0
611       1        1  ...            1.0              2
612       1        1  ...            1.0              2
613       0        0  ...            0.0              1

[480 rows x 11 columns]

---------

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 2)

In [49]:
model = svm.SVC(kernel='linear')
model.fit(x_train, y_train)

SVC(kernel='linear')

In [50]:
x_train_prediction = model.predict(x_train)
print(accuracy_score(x_train_prediction, y_train))

0.7962962962962963

In [51]:
x_test_prediction = model.predict(x_test)
print(accuracy_score(x_test_prediction, y_test))

0.8125